<div *ngIf="selectedBoxGroup" [ngClass]="direction === 'vertical' ? 'd-block' : 'd-flex'" [dir]="direction !='vertical' ? 'rtl' : 'ltr'">
    <div 
        [id]="box?.id" 
        *ngFor="let box of selectedBoxGroup" 
        class="warp-weft-tieup hover" 
        [ngStyle]="{'height': boxWidth + 'vw','width': boxWidth + 'vw', 'background-color': box?.color}"
        (mousedown)="selectBox(box?.id, 'down')"
        (mouseup)="selectBox(box?.id, 'up')"
        (mouseover)="selectBox(box?.id, 'over')"
    >
        <i class="fa-paint-brush" aria-hidden="true"></i>
    </div>
</div>