<div [cols]="treadles +1">
    <div colspan="1" [rowspan]="patternLength">
        <app-color-planner [style.width]="colorWidth + 'vw'" class="vertical" direction="vertical" [boxCount]="patternLength"></app-color-planner>
    </div>
    <div [colspan]="treadles" [rowspan]="patternLength">
        <div [style.width]="boxesWidth + 'vw'" class="vertical" [cols]="treadles">
            <div 
                [id]="box.id" 
                *ngFor="let box of treadlingBoxes" [class]="box.border"
                (mousedown)="startSelecting(box.y)" 
                (mouseup)="stopSelecting($event, box.y)"
                (mouseover)="onDrag(box.y)"
                [style.backgroundColor]="box.color"
            >
                <input type="checkbox" [(ngModel)]="box.selected" (click)="boxesChanged()"/>
            </div>
        </div>
    </div>
</div>

<div style="visibility: hidden; position: fixed;" 
    [style.left]="menuTopLeftPosition.x" 
    [style.top]="menuTopLeftPosition.y" 
>
</div> 
 
<!-- standard material menu --> 
<!-- <div #rightMenu="matMenu"> 
  <ng-template matMenuContent> 
    <button div-item (click)="repeat()" *ngIf="startSelect === 1 || endSelect === 1">Repeat</button>
    <button div-item (click)="repeatOverSelection()">Repeat over selection</button>
    <button div-item (click)="cancel()">Cencel</button>
  </ng-template> 
</div>  -->

