app-pattern-visualizer {
    overflow-x: hidden !important;
}

.overflow {
    overflow-x: auto;
    overflow-y: hidden;
    direction: rtl;
    :nth-child(1) {
        direction: ltr;
        position: absolute;
        top: 0;
        right: 0;
    }
}