app-data-collector {
    background-color: aqua;
    width: 90vw;
    display: flex;
}
app-warp-designer {
    height: 10vw;
    background-color: yellow;
    width: 80vw;
    display: inline-flex;
}
app-pattern-designer {
    height: 10vw;
    background-color: orange;
    width: 10vw;
    display: inline-flex;
}
app-pattern-visualizer {
    height: 70vh;
    background-color: pink;
    width: 80vw;
    display: inline-flex;
}
app-weft-designer {
    height: 70vh;
    background-color: yellowgreen;
    width: 10vw;
    display: inline-flex;
}