.row {
    display: flex;
    align-items: stretch;
    width: 100%;
    margin-bottom: 10px;
}
.invisible {
    display: none;
}
.col {
    height: 100px;
}
app-pattern-visualizer {
    overflow-x: hidden !important;
}

.rightCol {
    margin-left: 10px;
}

.overflow {
    overflow-x: auto;
    overflow-y: hidden;
    direction: rtl;
    :nth-child(1) {
        direction: ltr;
        position: absolute;
        top: 0;
        right: 0;
    }
}

