<div class="container-fluid">
  <div class="d-flex justify-content-end">
    <div class="m-2">
      <button class="btn btn-outline-primary rounded-circle" type="button">
        <i class="fa fa-info fa-2x" aria-hidden="true"></i>
      </button>
    </div>
    <div class="m-2">
      <button class="btn btn-outline-primary rounded-circle" type="button" [ngbPopover]="userPopover">
        <i class="fa fa-user fa-2x" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <app-data-collector></app-data-collector>
  <app-palette (previewEvent)="openPreview($event)"></app-palette>
  <div [style.display]="treadles ? 'flex' : 'none'">
    <app-threading-planner 
      [style.width]="leftCol + 'vw'" 
      class="overflow mb-2" 
      cdkScrollable
    ></app-threading-planner>
    <app-tie-up-planner 
      [style.padding]="internalWidth > 100 ? 'auto auto 15px auto' : 'auto auto 2px auto'" 
      [style.width]="rightCol + boxWidth + 1 + 'vw'" 
      class="mb-2"
    >/</app-tie-up-planner>
  </div>
  <div [style.display]="treadles ? 'flex' : 'none'">
    <app-pattern-visualizer 
      [style.width]="leftCol + 'vw'" 
      class="overflow"
      cdkScrollable
    ></app-pattern-visualizer>
    <app-treadling-planner 
      [style.width]="rightCol + boxWidth + 1 + 'vw'" 
    ></app-treadling-planner>
  </div>
</div>

<!-- <ng-template #previewDialog>
  <h2 matDialogTitle>Weaving Preview</h2>
  <div>
    <p>TODO</p>
  </div>
  <div align="end">
    <button div matDialogClose color="primary">Close</button>
  </div>
</ng-template> -->

<ng-template #userPopover>
  <div class="d-flex flex-column">
  <div>Welcome {{userInfo?.userDetails}}!</div>
    <button *ngIf="!userInfo" type="button" class="btn btn-primary my-2"><a class="text-light" href="/.auth/login/aad">Login</a></button>
    <button *ngIf="userInfo" type="button" class="btn btn-primary my-2"><a class="text-light" href="/.auth/logout">Logout</a></button>
  </div>
</ng-template>