<div [style.width]="internalWidth + 'vw'">
    <div class="d-flex flex-wrap" dir="rtl">
        <div 
            [id]="box.id" 
            *ngFor="let box of visualizerBoxes" 
            [class]="box.border" 
            [style.width]="boxWidth + 'vw'"
            [style.backgroundColor]="box.color"
        >
            <!-- controls box height -->
            <i class="fa fa-check" [style.color]="box.color ? box.color : 'transparent'" aria-hidden="true"></i>
        </div>
    </div>
</div>
