<ngb-accordion activeIds="patternInfo" #acc="ngbAccordion" animation="true">
    <ngb-panel id="patternInfo">
        <ng-template ngbPanelHeader let-opened="opened">
            <div class="d-flex align-items-center justify-content-between">
              <h1 class="h2 m-0">Pattern Information</h1>
              <button ngbPanelToggle class="btn btn-link p-0" type="button" aria-label="toggle instructions"><i [ngClass]="['fa', opened ? 'fa-angle-up' : 'fa-angle-down', 'fa-2x']" aria-hidden="true"></i></button>
            </div>
        </ng-template>
        <ng-template ngbPanelContent>
            <form [formGroup]="patternForm" (ngSubmit)="onSubmit()" class="container-fluid">
                <div class="row row-col-auto">
                    <div class="col col-auto mb-3">
                        <div class="form-floating">
                            <input class="form-control" type="text" placeholder="pattern name" formControlName="name" id="name">
                            <label for="name">pattern name</label>
                        </div>
                    </div>
                    <div class="col col-auto mb-3">
                        <div class="form-floating">
                            <input class="form-control" type="number" placeholder="shafts" id="shafts" formControlName="shafts">
                            <label for="shafts">shafts</label>
                        </div>
                    </div>
                    <div class="col col-auto mb-3">
                        <div class="form-floating">
                            <input class="form-control" type="number" placeholder="treadles" id="treadles" formControlName="treadles">
                            <label for="treadles">treadles</label>
                        </div>
                    </div>
                    <div class="col col-auto my-auto">
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" formControlName="trompAsWrit" (change)="trompChanged()" id="trompAsWrit">
                            <label class="form-check-label" for="trompAsWrit">
                                tromp as writ
                            </label>
                        </div>
                    </div>
                    <div class="col col-auto my-auto">
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" formControlName="halfSett" (change)="settChanged()" id="halfSett">
                            <label class="form-check-label" for="halfSett">
                                half sett
                            </label>
                        </div>
                    </div>
                    <div class="col col-auto my-auto">
                        <button class="btn btn-primary mb-3" type="button" (click)="openSRT()">SRT</button>
                    </div>
                </div>
                <section>
                    <h2 class="h3">Warp</h2>
                    <div class="row row-col-auto">
                        <div class="col col-auto mb-3">
                            <div class="input-group">
                                <div class="form-floating">
                                    <input type="number" class="form-control" (change)="patternWidthChanged()" placeholder="patternWidth" id="patternWidth" formControlName="patternWidth">
                                    <label for="patternWidth">pattern width</label>
                                </div>
                                <span class="input-group-text">ends</span>
                            </div>
                        </div>
                        <div class="col col-auto mb-3">
                            <div class="form-floating">
                                <input type="number" class="form-control" placeholder="epi" id="epi" formControlName="epi">
                                <label for="epi">ends per inch</label>
                            </div>
                        </div>
                        <div class="col col-auto mb-3">
                            <div class="input-group">
                                <div class="form-floating">
                                    <input class="form-control" type="number" placeholder="working width" id="workingWidth" formControlName="workingWidth">
                                    <label for="workingWidth">width in loom</label>
                                </div>
                                <span class="input-group-text">inches</span>
                            </div>
                        </div>
                        <div class="col col-auto mb-3">
                            <div class="input-group">
                                <div class="form-floating">
                                    <input class="form-control" id="selvageWidth" placeholder="selvage" type="number" formControlName="selvageWidth"/>
                                    <label for="selvageWidth">selvage</label>
                                </div>
                                <span class="input-group-text">inches</span>
                            </div>
                        </div>
                        <div class="col col-auto mb-3">
                            <div class="input-group">
                                <div class="form-floating">
                                    <input class="form-control" id="waste" placeholder="loom waste" type="number" formControlName="waste">
                                    <label for="waste">loom waste</label>
                                </div>
                                <span class="input-group-text">inches</span>
                            </div>
                        </div>
                        <div class="col col-auto mb-3">
                            <div class="input-group">
                                <div class="form-floating">
                                    <select class="form-select" id="edgeType" formControlName="edgeType">
                                        <option value="fringe">fringe</option>
                                        <option value="hem">hem</option>
                                    </select>
                                    <label for="edgeType">edge type</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="edgeLength" placeholder="edge length" type="number" formControlName="edgeLength">
                                    <label for="edgeLength">edge length</label>
                                </div>
                                <span class="input-group-text">inches</span>
                            </div>
                        </div>
                        <div class="col col-auto mb-3">
                            <div class="input-group">
                                <div class="form-floating">
                                    <input class="form-control" type="number" id="pieces" placeholder="pieces" formControlName="pieces">
                                    <label for="pieces"># of pieces</label>
                                </div>
                            </div>
                        </div>
                        <div class="col col-auto mb-3">
                            <div class="form-floating">
                                <select class="form-select" id="warpMaterial" formControlName="warpMaterial">
                                    <option value="bamboo">bamboo</option>
                                    <option value="cottolin">cottolin</option>
                                    <option value="cotton">cotton</option>
                                    <option value="hemp">hemp</option>
                                    <option value="silk">silk</option>
                                    <option value="tensel">tensel</option>
                                    <option value="wool">wool</option>
                                    <option value="wool/silk">wool/silk</option>
                                </select>
                                <label for="warpMaterial">yarn type</label>
                            </div>
                        </div>
                        <div class="col col-auto mb-3">
                            <div class="input-group">
                                <div class="form-floating">
                                    <input class="form-control" type="number" id="warpDrawIn" placeholder="draw-in" formControlName="warpDrawIn">
                                    <label for="warpDrawIn">draw-in</label>
                                </div>
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                        <div class="col col-auto mb-3">
                            <div class="input-group">
                                <div class="form-floating">
                                    <input class="form-control" type="number" id="warpShrinkage" placeholder="shrinkage" formControlName="warpShrinkage">
                                    <label for="warpShrinkage">shrinkage</label>
                                </div>
                                <span class="input-group-text" for="">%</span>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <h2 class="h3">Weft</h2>
                    <div class="row row-col-auto">
                        <div class="col col-auto mb-3">
                            <div class="input-group">
                                <div class="form-floating">
                                    <input class="form-control" type="number" id="patternLength" placeholder="pattern length" formControlName="patternLength">
                                    <label for="patternLength">pattern length</label>
                                </div>
                                <span class="input-group-text">picks</span>
                            </div>
                        </div>
                        <div class="col col-auto mb-3">
                            <div class="form-floating">
                                <input class="form-control" type="number" id="ppi" placeholder="picks per inch" formControlName="ppi">
                                <label for="ppi">picks per inch</label>
                            </div>
                        </div>
                        <div class="col col-auto mb-3">
                            <div class="input-group">
                                <div class="form-floating">
                                    <input class="form-control" type="number" id="working-length" placeholder="length in loom" formControlName="workingLength">
                                    <label for="workingLength">length in loom</label>
                                </div>
                                <span class="input-group-text">inches</span>
                            </div>
                        </div>
                        <div class="col col-auto mb-3">
                            <div class="form-floating">
                                <select class="form-select" id="weftMaterial" formControlName="weftMaterial">
                                    <option value="bamboo">bamboo</option>
                                    <option value="cottolin">cottolin</option>
                                    <option value="cotton">cotton</option>
                                    <option value="hemp">hemp</option>
                                    <option value="silk">silk</option>
                                    <option value="tensel">tensel</option>
                                    <option value="wool">wool</option>
                                    <option value="wool/silk">wool/silk</option>
                                </select>
                                <label for="weftMaterial">yarn type</label>
                            </div>
                        </div>
                        <div class="col col-auto mb-3">
                            <div class="input-group">
                                <div class="form-floating">
                                    <input class="form-control" type="number" id="weftDrawIn" placeholder="draw-in" formControlName="weftDrawIn">
                                    <label for="weftDrawIn">draw-in</label>
                                </div>
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                        <div class="col col-auto mb-3">
                            <div class="input-group">
                                <div class="form-floating">
                                    <input class="form-control" type="number" id="weftShrinkage" placeholder="shrinkage" formControlName="weftShrinkage">
                                    <label for="weftShrinkage">shrinkage</label>
                                </div>
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </div>
                </section>
                <section align="end">
                    <button class="btn btn-primary">Update</button>
                </section>
            </form>
        </ng-template>
    </ngb-panel>

    <ngb-panel id="instructions">
        <ng-template ngbPanelHeader let-opened="opened">
            <div class="d-flex align-items-center justify-content-between">
              <h1 class="h2 m-0">Instructions</h1>
              <button ngbPanelToggle class="btn btn-link p-0" type="button" aria-label="toggle instructions"><i [ngClass]="['fa', opened ? 'fa-angle-up' : 'fa-angle-down', 'fa-2x']" aria-hidden="true"></i></button>
            </div>
        </ng-template>
        <ng-template ngbPanelContent>
            <section>
                content
            </section>
        </ng-template>
    </ngb-panel>

    <ngb-panel id="yarnBreakdown">
        <ng-template ngbPanelHeader let-opened="opened">
            <div class="d-flex align-items-center justify-content-between">
              <h1 class="h2 m-0">Yarn Breakdown</h1>
              <button ngbPanelToggle class="btn btn-link p-0" type="button" aria-label="toggle instructions"><i [ngClass]="['fa', opened ? 'fa-angle-up' : 'fa-angle-down', 'fa-2x']" aria-hidden="true"></i></button>
            </div>
        </ng-template>
        <ng-template ngbPanelContent>
            <section class="row row-col-auto">
                <div class="col col-auto">total yardage: {{totalIn / 36 | ceil }} yds</div>
                <div class="col col-auto">total warp yardage: {{warpIn / 36 | ceil }} yds</div>
                <div class="col col-auto">total weft yardage: {{weftIn / 36 | ceil }} yds</div>
                <div class="col col-auto" *ngFor="let color of colors">
                    <div>
                        {{color.colorName}}{{!color.perfectMatch ? "*" : ""}} 
                        <span style="width: 15px; height: 15px; display: inline-block;" [style.backgroundColor]="color.colorCode"></span>
                        : {{color.colorInches / 36 | ceil }} yds
                    </div>
                </div>
                <div class="col col-auto" *ngIf="colors.length > 0" style="font-size: 8pt;">color names provided by <a href="https://chir.ag/projects/name-that-color/#6195ED" style="color:aqua">Chirag Mehta</a>. * denotes imperfect match</div>
            </section>
            <section class="row row-col-auto">
                <div class="col col-auto">finished width:</div>
                <div class="col col-auto">finished length:</div>
            </section>
            <section class="row row-col-auto">
                <div class="col col-auto">width repeats:</div>
                <div class="col col-auto">length repeats:</div>
                <!-- project preview -->
            </section>
        </ng-template>
    </ngb-panel>
</ngb-accordion>

<!-- <ng-template #srtDialog>
    <h2 matDialogTitle>Scottish Registry of Tartans</h2>
    <div>
        <div>
            <label>Threadcount</label>
            <input type="text" placeholder="e.g. G20R4B40W4R4W4A40W4A40W4Y4" formControlName="srtThreadcount"/>
        </div>
        <div>
            <label>Palette</label>
            <textarea placeholder="e.g. W=E0E0E0WHITE;A=5C8CA8AZURE;R=C80000RED;B=2C2C80BLUE;G=006818GREEN;Y=E8C000YELLOW" formControlName="srtPalette"></textarea>
        </div>
    </div>
    <div align="end">
        <button div matDialogClose color="secondary">Cancel</button>
        <button div matDialogClose color="primary" (click)="useSRT()">OK</button>
    </div>
</ng-template> -->