.subheading {
    display: block;
}
.input-container {
    display: inline;
}
section {
    margin: 10px;
    > * {
        padding: 5px;
    }
}
input {
    text-align: right;
    width: auto;
}
div:first-child div:last-of-type {
    border-radius: 4px 4px  0 0;
}
div:not(:first-child) div {
    border-top: 1px solid gray;
}
div:last-child div {
    border-radius: 0 0 4px 4px;
}
div:not(:first-child, :last-child) div {
    border-radius: 0;
}