<mat-accordion>
    <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Pattern Information
          </mat-panel-title>
        </mat-expansion-panel-header>
        <section>
            <mat-form-field class="example-form-field">
                <mat-label>shafts</mat-label>
                <input matInput type="number" [(ngModel)]="shafts">
            </mat-form-field>
            <input type="number" placeholder="shafts" />
            <input type="number" placeholder="treadles" />
            <div class="input-container">
                <input type="checkbox" /><label>tromp as writ</label>
            </div>
            <mat-form-field>
                <mat-label>pattern name</mat-label>
                <input matInput type="text" [(ngModel)]="name">
                <button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
                    <mat-icon>close</mat-icon>
                  </button>
            </mat-form-field>
            <section>
                <label class="subheading">Warp</label>
                <input type="number" placeholder="ends per inch" />
                <input type="number" placeholder="width in loom (inches)" />
                <input type="number" placeholder="selvage (inches)" />
                <input type="number" placeholder="loom waste (inches)" />
                <div class="input-container">
                    <select>
                        <option>fringe</option>
                        <option>hem</option>
                    </select>
                    <input type="number" placeholder="(inches)" />
                </div>
                <input type="number" placeholder="number of pieces" />
                <input type="number" placeholder="pattern width (ends)" />
                <div class="input-container">
                    <label>warp material</label>
                    <select>
                        <option>bamboo</option>
                        <option>cottolin</option>
                        <option>cotton</option>
                        <option>hemp</option>
                        <option>silk</option>
                        <option>tensel</option>
                        <option>wool</option>
                        <option>wool/silk</option>
                    </select>
                </div>
                <input type="number" placeholder="draw-in" />
                <input type="number" placeholder="shrinkage" />
            </section>
            <section>
                <label class="subheading">Weft</label>
                <input type="number" placeholder="picks per inch" />
                <input type="number" placeholder="length in loom (inches)" />
                <input type="number" placeholder="pattern length (picks)" />
                <div class="input-container">
                    <label>weft material</label>
                    <select>
                        <option>bamboo</option>
                        <option>cottolin</option>
                        <option>cotton</option>
                        <option>hemp</option>
                        <option>silk</option>
                        <option>tensel</option>
                        <option>wool</option>
                        <option>wool/silk</option>
                    </select>
                </div>
                <input type="number" placeholder="draw-in" />
                <input type="number" placeholder="shrinkage" />
            </section>
            <section>
                <label class="subheading">Yarn Breakdown</label>
                <label>total yardage:</label>
                <label>total warp yardage:</label>
                <label>total weft yardage:</label>
                <label>yards of #000000:</label>
                <label>yards of #ffffff:</label>
                <label>yards of #ff0000:</label>
                <label>yards of #00ff00:</label>
                <label>yards of #0000ff:</label>
            </section>
            <section>
                <label>Finished width:</label>
                <label>Finished length:</label>
                <!-- project preview -->
            </section>
        </section>
    </mat-expansion-panel>
</mat-accordion>
