<div class="row align-items-center p-2 mx-1 border">
    <div class="col col-auto">
        <h1 class="h4">
            Palette:
        </h1>
    </div>
    <div class="col">
        <div class="row">
            <div class="col col-auto my-2" *ngFor="let color of colorPalette; let i = index;" >
                <div
                    class="rounded border" 
                    style="width: 2.75rem; height: 2.75rem;"
                    (click)="selectOrDelete(i)"
                    [style.backgroundColor]="color"
                    [style.border]="i === selectedIndex ? '2px outset lightblue' : ''"
                >
                    <button *ngIf="i === selectedIndex && edit"
                        (change)="selectedColorChanged()" 
                        ngx-colors-trigger="edit"
                        [(ngModel)]="colorPalette[i]"
                        class="btn"
                    >
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button *ngIf="i === selectedIndex && !edit" class="btn">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-auto">
        <button class="btn btn-success rounded-circle" (click)="addToPalette()" aria-label="add">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
    </div>
    <div class="col col-auto">
        <div class="form-switch form-floating">
            <input [disabled]="colorPalette?.length === 0" type="checkbox" class="form-check-input form-control" style="width: 7rem; height: 2rem;" role="switch" id="edit" [(ngModel)]="edit" />
            <label for="edit" class="text-light" *ngIf="edit">edit</label>
            <label for="edit" class="right-0 text-light" style="left: auto;" *ngIf="!edit">remove</label>
        </div>
    </div>
</div>