<div class="row">
    <div class="col">
        <span style="margin-left:10px;line-height: 33px;">
            Palette:
        </span>
        <div *ngIf="colorPalette" class="col">
            <div *ngFor="let color of colorPalette; let i = index;" 
                class="paletteItem" 
                (click)="selectOrDelete(i)"
                [style.backgroundColor]="color"
                [style.border]="i == selectedIndex ? '2px outset lightblue' : ''"
            >
                <div *ngIf="i == selectedIndex"
                    (change)="selectedColorChanged()" 
                    ngx-colors-trigger 
                    [(ngModel)]="colorPalette[i]"
                >
                    &#x270E;
                </div>
                <div *ngIf="remove">
                    x
                </div>
            </div>
        </div>
        <div class="col">
            <div class="btn badge edit" (click)="addToPalette()">+</div>
            <div class="btn badge remove" (click)="toggleRemove()">{{remove ? 'x' : '-'}}</div>
        </div>
    </div>
</div>