.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: beige;
}
.col {
    display: flex;
    margin: 5px;
    align-items: center;
}

.paletteItem {
    height: 40px;
    width: 40px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn {
    margin: 0 5px;
}
.badge {
    border-radius: 50%;
    height: 20px; width: 20px;
    color: white;
    text-align: center;
    border: 2px outset lightgray;
}
.edit {
    background-color: green;
}
.remove {
    background-color: red;
}