<div [style.width]="internalWidth + 'vw'">
    <div class="d-flex flex-wrap border-bottom border-light" dir="rtl">
        <div 
            [id]="box.id" 
            *ngFor="let box of threadingBoxes; let i = index;" 
            [ngClass]="[box.selected ? 'bg-primary' : box.color, 'warp-weft-tieup']" 
            [ngStyle]="{'height': boxWidth + 'vw', 'width': boxWidth + 'vw'}"
            (click)="boxesChanged(i)"
            (mousedown)="startSelecting(box.x)" 
            (mouseup)="stopSelecting($event, box.x)"
            (mouseover)="onDrag(box.x)"
            [(ngModel)]="box.selected"
            ngDefaultControl
        >
          <i [ngClass]="[box.selected ? 'visible' : 'invisible', 'fa-check']" aria-hidden="true"></i>
        </div>
    </div>
    <app-color-planner direction="horizontal" [boxCount]="patternWidth"></app-color-planner>

</div>


<button 
  type="button"
  [ngbPopover]="repeatMenu"
  #menuTrigger
  [ngStyle]="{
    'left': menuTopLeftPosition.x, 
    'top': menuTopLeftPosition.y, 
    'visibility': 'hidden', 
    'position': 'fixed'
  }"
>
</button> 
 
<ng-template #repeatMenu> 
  <div class="d-flex flex-column justify-content-between">
    <button class="btn btn-outline-primary my-2" (click)="repeat()" *ngIf="startSelect === 1 || endSelect === 1">Repeat</button>
    <button class="btn btn-primary my-2" (click)="repeatOverSelection()">Repeat over selection</button>
    <button class="btn btn-outline-danger my-2" (click)="cancel()">Cancel</button>
  </div>
</ng-template> 
