<div [style.width]="internalWidth + '%'">
    <div dir="rtl">
        <div 
            [id]="box.id" 
            *ngFor="let box of threadingBoxes" 
            [class]="box.border" 
            (mousedown)="startSelecting(box.x)" 
            (mouseup)="stopSelecting($event, box.x)"
            (mouseover)="onDrag(box.x)"
            [style.backgroundColor]="box.color"
        >
            <div matInput type="checkbox" [(ngModel)]="box.selected" (click)="boxesChanged()"></div>
        </div>
    </div>
    <app-color-planner direction="horizontal" [boxCount]="patternWidth"></app-color-planner>
</div>
<!--  [cols]="patternWidth"  -->

<!-- <div style="visibility: hidden; position: fixed;" 
    [style.left]="menuTopLeftPosition.x" 
    [style.top]="menuTopLeftPosition.y" 
    [matMenuTriggerFor]="rightMenu"
    #matMenuTrigger="matMenuTrigger"
>
</div>  -->
 
<!-- standard material menu --> 
<!-- <div #rightMenu="matMenu"> 
  <ng-template matMenuContent> 
    <button div-item (click)="repeat()" *ngIf="startSelect === 1 || endSelect === 1">Repeat</button>
    <button div-item (click)="repeatOverSelection()">Repeat over selection</button>
    <button div-item (click)="cancel()">Cencel</button>
  </ng-template> 
</div>  -->
