/* You can add global styles to this file, and also import other style files */
@import "bootstrap";
@import "font-awesome";

body {
    margin: 0;
    
    ::-webkit-scrollbar {
        width: 15px;
        height: 15px;
    }
    
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        border-radius: 10px;
    }
}
.main-container {
    display: block;
    margin: 5vh auto;
    width: 90vw;
}

.noBorders {
    border: none;
}
.warp-weft-tieup {
    @extend .border;
    @extend .border-dark;
    @extend .border;
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .align-items-center;
    &:not(.hover) > i {
        @extend .text-white;
        @extend .fa;
    }
}
.warpBorder, .weftBorder {
    border-color: black !important;
    border-style: solid !important;
}
.warpBorder {
    border-left: 1px;
    border-right: 1px;
    border-top: 0;
    border-bottom: 0;
}
.weftBorder {
    border-left: 0;
    border-right: 0;
    border-top: 1px;
    border-bottom: 1px;
}

.btn {
    cursor: pointer;
}

.content-box {
    box-sizing: content-box;
}

.select {
    background-color: lightblue;
}

.multiselect {
    background-color: lightyellow;
}