/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}
.main-container {
    display: block;
    margin: 5vh auto;
    width: 90vw;
}

.mat-grid-tile {
    border: 1px solid black;
}
