<div class="d-flex flex-wrap border-bottom border-start border-light" [style.marginLeft]="boxWidth + .5 + 'vw'">
    <div 
        [id]="box.id" 
        *ngFor="let box of tieUpBoxes; let i = index;" 
        [ngClass]="[box.selected ? 'bg-primary' : 'bg-body', 'warp-weft-tieup']" 
        [ngStyle]="{'height': boxWidth + 'vw', 'width': boxWidth + 'vw'}"
        [(ngModel)]="box.selected" 
        (click)="boxesChanged(i)"
        ngDefaultControl
    >
        <i [ngClass]="[box.selected ? 'visible' : 'invisible', 'fa-check']" aria-hidden="true"></i>
    </div>
</div>